@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
:root {
  --Chat-Font-Used: "Inter", sans-serif;
  --Chat-Font-Size: 12px;
}
:not([class="hljs"]):not(code) {
  font-family: var(--Chat-Font-Used) !important;
}

.markup:not(code) {
  font-size: var(--Chat-Font-Size) !important;
}
